# All file types:
#   - Treat as text
#   - Normalize to LF line endings
* text eol=lf

# Solution files and Windows scripts
#  - Treat as text
#  - Force to CRLF line endings (Windows-style)
*.sln  text eol=crlf
*.slnf text eol=crlf
*.bat  text eol=crlf
*.cmd  text eol=crlf

# Images
*.png  binary
*.jpg  binary
*.gif  binary

# Keys
*.snk  binary
*.pfx  binary
*.cer  binary