<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="TerraFX-CI" value="https://pkgs.terrafx.dev/index.json" />
    <add key="ComputeSharp-Local" value="src\ComputeSharp.Package\bin\Release" />
    <add key="Toolkit-CI" value="https://pkgs.dev.azure.com/dotnet/WindowsCommunityToolkit/_packaging/WindowsCommunityToolkit-MainLatest/nuget/v3/index.json" />
  </packageSources>
</configuration>
