<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="TerraFX-CI" value="https://pkgs.terrafx.dev/index.json" />
    <add key="BenchmarkDotNet-CI" value="https://ci.appveyor.com/nuget/benchmarkdotnet" />
    <add key="ComputeSharp-Local" value="src\ComputeSharp.Package\bin\Release" />
    <add key="SixLabors-CI" value="https://www.myget.org/F/sixlabors/api/v3/index.json" />
  </packageSources>
</configuration>
