<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>

    <!-- This source is for the local NuGet packages, which are all generated in the centralized artifacts root folder -->
    <add key="roslyn" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
  </packageSources>
</configuration>
