{{#FieldsList}}
{{!Static scalar}}
{{#IsStaticScalarField}}
static {{FieldType}} {{FieldName}} = {{FieldValue}};
{{/IsStaticScalarField}}
{{!Constant buffer}}
{{#IsConstantBuffer}}
cbuffer {{FieldName}}Buffer : register(b{{ConstantBufferIndex}})
{
{{FieldType}} {{FieldName}};
}
{{/IsConstantBuffer}}
{{!Read write buffer}}
{{#IsReadWriteBuffer}}
{{&FieldType}} {{FieldName}} : SV_DispatchThreadId : register(u{{ReadWriteBufferIndex}});
{{/IsReadWriteBuffer}}

{{/FieldsList}}
{{!Shader entry point}}
[Shader("compute")]
[NumThreads({{ThreadsX}}, {{ThreadsY}}, {{ThreadsZ}})]
void CSMain(uint3 {{ThreadsIdsVariableName}} : SV_DispatchThreadId)
{{ShaderBody}}
