{{#FieldsList}}
{{!Static scalar}}
{{#IsStaticScalarField}}
static {{&FieldType}} {{FieldName}} = {{FieldValue}};
{{/IsStaticScalarField}}
{{!Constant buffer}}
{{#IsConstantBuffer}}
cbuffer {{FieldName}}Buffer : register(b{{BufferIndex}})
{
    {{&FieldType}} {{FieldName}}{{^IsSingleValue}}[2]{{/IsSingleValue}};
}
{{/IsConstantBuffer}}
{{!Readonly buffer}}
{{#IsReadOnlyBuffer}}
{{&FieldType}} {{FieldName}} : register(t{{BufferIndex}});
{{/IsReadOnlyBuffer}}
{{!Read write buffer}}
{{#IsReadWriteBuffer}}
{{&FieldType}} {{FieldName}} : SV_DispatchThreadId : register(u{{BufferIndex}});
{{/IsReadWriteBuffer}}

{{/FieldsList}}
{{!Shader entry point}}
[Shader("compute")]
[NumThreads({{NumThreadsX}}, {{NumThreadsY}}, {{NumThreadsZ}})]
void CSMain(uint3 {{ThreadsIdsVariableName}} : SV_DispatchThreadId)
{
    if ({{ThreadsIdsVariableName}}.x < {{ThreadsX}} &&
        {{ThreadsIdsVariableName}}.y < {{ThreadsY}} &&
        {{ThreadsIdsVariableName}}.z < {{ThreadsZ}})
{{&ShaderBody}}
}
