// ================================================
//                  AUTO GENERATED
// ================================================
// This shader was created by ComputeSharp.
// See: https://github.com/Sergio0694/ComputeSharp.

{{!Captured variables buffer}}
cbuffer _ : register(b0)
{
    uint __x;
    uint __y;
    uint __z;
{{#FieldsList}}
    {{&FieldType}} {{FieldName}};
{{/FieldsList}}
}
{{#BuffersList}}
{{#IsConstantBuffer}}

{{!Constant buffer}}
cbuffer _{{FieldName}} : register(b{{BufferIndex}})
{
    {{&FieldType}} {{FieldName}}[2];
}
{{/IsConstantBuffer}}
{{#IsReadOnlyBuffer}}

{{!Readonly buffer}}
{{&FieldType}} {{FieldName}} : register(t{{BufferIndex}});
{{/IsReadOnlyBuffer}}
{{#IsReadWriteBuffer}}

{{!Read write buffer}}
{{&FieldType}} {{FieldName}} : register(u{{BufferIndex}});
{{/IsReadWriteBuffer}}
{{/BuffersList}}
{{#FunctionsList}}

{{!Shader private functions}}
// {{FunctionCsharpReturnType}} {{&FunctionFullName}}({{FunctionCsharpParameters}})
{{ReturnType}} {{FunctionName}}({{#ParametersList}}{{ParameterModifier}} {{ParameterType}} {{ParameterName}}{{^IsLastParameter}}, {{/IsLastParameter}}{{/ParametersList}})
{{FunctionBody}}
{{/FunctionsList}}
{{#LocalFunctionsList}}

{{!Shader implicit functions}}
// {{FunctionPrototype}}
{{FunctionDeclaration}}
{{/LocalFunctionsList}}

{{!Shader entry point}}
[NumThreads({{NumThreadsX}}, {{NumThreadsY}}, {{NumThreadsZ}})]
{{&EntryPoint}}
